@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Leonardo Batista Moreira<br />
    <i>.NET developer</i><br />
    <abbr title="Celular">Cel:</abbr>
    +55 11 998118105
</address>

<address>
    <table>
        <tr>
            <td><strong>E-mail:</strong></td>
            <td>&nbsp;</td>
            <td><a href="mailto:leonardo.moreira1987@hotmail.com">leonardo.moreira1987@hotmail.com</a></td>
        </tr>
        <tr>
            <td><strong>Download CV:</strong></td>
            <td>&nbsp;</td>
            <td><a href="~/Download/cv2015.docx">CV Leonardo</a></td>
        </tr>
    </table>
</address>