@{
    ViewBag.Title = "Code Moreira";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<h3 class="wow fadeInDown" data-wow-duration="700ms" data-wow-delay="300ms">OOP</h3>
<hr>

<div class="row">
    <div class="col-md-12 col-sm-6 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="service-icon">
            <img src="/content/images/icones/fabrica.png" />
        </div>
        <div class="service-text">
            <h4>Programação Orientada a Objetos</h4>

            <div class="texto-justificado">
                <p>
                    A programação Orientada a objetos (POO) é uma forma especial de programar, mais próximo de como expressaríamos as coisas na vida real do que outros tipos de programação.
                    Com a POO temos que aprender a pensar as coisas de uma maneira distinta, para escrever nossos programas em termos de objetos, propriedades, métodos e outras coisas.
                </p>
                <p>Na programação orientada a objetos, implementa-se um conjunto de classes que definem os objetos presentes no sistema de software. Cada classe determina o comportamento (definido nos métodos) e estados possíveis (atributos) de seus objetos, assim como o relacionamento com outros objetos. C++, C♯, VB.NET, Java, Object Pascal, Objective-C, Python, SuperCollider, Ruby e Smalltalk são exemplos de linguagens de programação orientadas a objetos</p>
                <p> ActionScript, ColdFusion, Javascript, PHP (a partir da versão 4.0), Perl (a partir da versão 5) e Visual Basic (a partir da versão 4) são exemplos de linguagens de programação com suporte a orientação a objetos.</p>
                <p>Referência: <a href="http://www.criarweb.com/artigos/215.php" target="_blank" class="referencia">Programação Orientada a Objetos</a></p>
            </div>

            <h4 class="texto-justificado">
                Tags: OOP
                <br />
                Autor: Leonardo Moreira
            </h4>
        </div>
    </div>
</div>